.row {
    font-size: 0;
    margin-left: -15px;
    margin-right: -15px;
}
/* .tcl-col-1, .tcl-col-2, .tcl-col-3, .tcl-col-4, .tcl-col-5, .tcl-col-6, .tcl-col-7, 
.tcl-col-8, .tcl-col-9, .tcl-col-10, .tcl-col-11,  .tcl-col-12, .tcl-col-2_4 { */
.row > [class*="col-"] {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}
.row.no-gutters > [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
