* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  color: #797a7d;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
}

.t-btn {
  height: 50px;
  padding: 0px 36px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #2b3146;
  background-color: #1b1e30;
  color: #ffffff;
  box-shadow: 0 11px 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-in-out;
}

.t-btn:hover {
  background-color: white;
  color: #272931;
}

.t-btn__white {
  border: 1px solid #2b3146;
  background-color: #1b1e30;
  color: #ffffff;
  box-shadow: 0 11px 29px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  color: #272931;
  transition: all 0.5s ease-in-out;
}

.t-btn__white:hover {
  background-color: #1b1e30;
  color: #ffffff;
}

.padding-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.margin-y-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
