* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-icon-block {
    width: 1170px;
    margin: auto;
    font-size: 0; /* remove khoang trang trong html cho truong hop khong dung 25%*/
}

.icon-block-item {
    display: inline-block;
    width: calc(100%/4);
    margin-bottom: 50px;
}

.icon-block__circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    vertical-align: top; 
}

.icon-block__circle .icon-block__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.icon-block__title {
    text-align: center;
    font-weight: bold;
}

.icon-block__title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    opacity: 0.8;
    padding: 0 45px;
    margin-left: auto;
    margin-right: auto;
}

ion-icon {
    font-size: 38px;
    color: peru;
}